@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@media only screen and (max-width: 575.5px) {
  .container {
    padding: 0px 20px 0px 20px;
  }
}
@media only screen and (min-width: 576px) {
  .container {
    padding: 0px 20px 0px 20px;
  }
}
@media only screen and (min-width: 768px) {
  .container {
    padding: 0px 20px 0px 20px;
  }
}
@media only screen and (min-width: 992px) {
  .container {
    padding: 0px 40px 0px 40px;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    padding: 0px 60px 0px 60px;
  }
}
@media only screen and (min-width: 1400px) {
  .container {
    padding: 0px 100px 0px 100px;
  }
}

@media only screen and (max-width: 575.5px) {
  .container-horizontal {
    padding: 70px 20px 100px 20px;
  }
}
@media only screen and (min-width: 576px) {
  .container-horizontal {
    padding: 70px 20px 100px 20px;
  }
}
@media only screen and (min-width: 768px) {
  .container-horizontal {
    padding: 100px 20px 100px 20px;
  }
}
@media only screen and (min-width: 992px) {
  .container-horizontal {
    padding: 150px 40px 150px 40px;
  }
}
@media only screen and (min-width: 1200px) {
  .container-horizontal {
    padding: 150px 60px 150px 60px;
  }
}
@media only screen and (min-width: 1400px) {
  .container-horizontal {
    padding: 150px 100px 150px 100px;
  }
}

.button {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  background-color: #D34242;
  width: 100%;
  height: 100%;
  color: #F9F9F9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.button:hover {
  background-color: #AF4646;
}
.button::after {
  content: "";
  width: 40px;
  height: 40px;
  background-image: url("../image/icons/arrow-button.png");
  background-size: 40px 40px;
  margin-left: 10px;
}

.button-form {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  text-transform: uppercase;
  background-color: #D34242;
  opacity: 0.2;
  width: 100%;
  height: 100%;
  color: #F9F9F9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.button-form:hover {
  background-color: #AF4646;
}
.button-form.button-form_active {
  opacity: 1;
}
.button-form::after {
  content: "";
  width: 25px;
  height: 25px;
  background-image: url("../image/icons/arrow-button.png");
  background-size: 25px 25px;
  margin-left: 10px;
}

.bg-logo_nodral_mark_red {
  width: 20px;
  height: 20px;
  background: url("../image/icons/icons_sprites.png") -10px -10px;
}

.bg-menu_open {
  width: 40px;
  height: 30px;
  background: url("../image/icons/icons_sprites.png") -10px -50px;
}

.bg-menu_close {
  width: 30px;
  height: 30px;
  background: url("../image/icons/icons_sprites.png") -10px -100px;
}

.bg-arrow_button {
  width: 43px;
  height: 43px;
  background: url("../image/icons/icons_sprites.png") -10px -200px;
}

.bg-menu_black_open {
  width: 40px;
  height: 30px;
  background: url("../image/icons/icons_sprites.png") -10px -150px;
}

.bg-frame_close {
  width: 44px;
  height: 44px;
  background: url("../image/icons/icons_sprites.png") -10px -263px;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox + label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-style: normal;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 100%;
  cursor: pointer;
}

.custom-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  border: 1px solid #1B1B1B;
  margin-right: 12px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.custom-checkbox:checked + label::before {
  content: "✓";
  font-size: 20px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 24px;
  height: 24px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.logo__link {
  z-index: 999;
}

.logo__img {
  height: 30px;
}

@media only screen and (max-width: 991.5px) {
  .logo__img {
    height: 20px;
  }
}
.footer {
  background-color: #0C1C3A;
  padding-top: 70px;
  padding-bottom: 20px;
}
.footer .logo__img {
  height: 37px;
}
.footer .footer__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer .footer_vertical-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .footer__title {
  font-weight: 300;
  font-size: 60px;
  line-height: 100%;
  color: #F9F9F9;
}
.footer .footer__subtitle {
  font-weight: 500;
  font-size: 30px;
  line-height: 100%;
  color: #F9F9F9;
  padding-top: 50px;
  padding-bottom: 20px;
}
.footer .footer__button {
  width: 240px;
  height: 60px;
}
.footer .footer__button .button {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #F9F9F9;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer .footer__button .button::after {
  content: "";
  width: 30px;
  height: 30px;
  background-image: url("../image/icons/arrow-button.png");
  background-size: 30px 30px;
  margin-left: 10px;
}
.footer .footer__link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: #A9A9A9;
}
.footer .footer__links {
  margin-top: 120px;
}
.footer .footer__contact {
  margin-top: 100px;
}
@media only screen and (max-width: 991.5px) {
  .footer {
    padding-top: 50px;
  }
  .footer .footer__links {
    margin-top: 40px;
  }
  .footer .footer__title {
    font-weight: 400;
    font-size: 28px;
    line-height: 100%;
  }
  .footer .footer__subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    padding-top: 10px;
    padding-bottom: 0px;
  }
  .footer .logo__img {
    height: 25px;
  }
  .footer .footer__contact {
    margin-top: 50px;
  }
}
@media only screen and (max-width: 575.5px) {
  .footer {
    padding-top: 70px;
  }
  .footer .logo__img {
    height: 32px;
  }
  .footer .footer__contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-top: 60px;
  }
  .footer .footer__title {
    margin-top: 50px;
  }
  .footer .footer__subtitle {
    padding-top: 24px;
  }
  .footer .footer__links {
    margin-top: 100px;
  }
}

.footer-address {
  margin-top: 50px;
  padding-right: 20px;
}
.footer-address .footer-address__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 160%;
  color: #F9F9F9;
}
.footer-address .footer-address__subtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  color: #F9F9F9;
}
.footer-address .footer-address__subtitle a {
  all: inherit;
  cursor: pointer;
}
.footer-address .footer-address__subtitle a:hover {
  color: #A9A9A9;
}
.footer-address .footer-address__icon {
  display: none;
}
@media only screen and (max-width: 991.5px) {
  .footer-address {
    width: 45%;
    margin-top: 50px;
  }
  .footer-address .footer-address__title {
    font-size: 16px;
    line-height: 24px;
  }
  .footer-address .footer-address__subtitle {
    font-size: 16px;
    line-height: 24px;
  }
}
@media only screen and (max-width: 575.5px) {
  .footer-address {
    width: 100%;
  }
  .footer-address:first-child {
    margin-top: 40px;
  }
  .footer-address .footer-address__icon {
    display: block;
    margin-bottom: 8px;
  }
}

.footer-menu .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer-menu .menu__link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #F9F9F9;
  margin-right: 40px;
  padding-bottom: 2px;
}
.footer-menu .menu__link:hover {
  border-bottom: 2px solid #D34242;
}
.footer-menu .menu__elem:last-child .menu__link {
  margin-right: 0px;
}
@media only screen and (max-width: 991.5px) {
  .footer-menu {
    width: 100%;
  }
  .footer-menu .menu__link {
    margin-right: 20px;
    font-size: 16px;
    line-height: 150%;
  }
  .footer-menu .menu__elem {
    margin-top: 20px;
  }
  .footer-menu .menu__elem:last-child .menu__link {
    margin-right: 0px;
  }
}
@media only screen and (max-width: 575.5px) {
  .footer-menu {
    margin-top: 16px;
  }
  .footer-menu .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-menu .menu__elem {
    margin-top: 24px;
  }
}

.header-bg {
  height: 895px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 0;
}
.header-bg .header-bg__title {
  font-weight: 400;
  font-size: 90px;
  line-height: 120%;
  text-transform: uppercase;
  color: #F9F9F9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.header-bg .header-bg__subtitle {
  font-weight: 400;
  font-size: 26px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: #F9F9F9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: auto;
  max-width: 650px;
  margin-top: 10px;
}
.header-bg .header-bg__info-page {
  margin-top: 150px;
}
.header-bg .header-bg__button {
  height: 180px;
  width: 920px;
  position: absolute;
  left: 0px;
  bottom: 0;
}
.header-bg .header-bg__button .button {
  padding-right: 200px;
}
@media only screen and (max-width: 991.5px) {
  .header-bg {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-bg .header-bg__title {
    font-size: 42px;
    line-height: 120%;
  }
  .header-bg .header-bg__subtitle {
    font-size: 20px;
    line-height: 120%;
    max-width: 320px;
  }
  .header-bg .header-bg__info-page {
    margin-top: 0px;
  }
  .header-bg .header-bg__button {
    position: relative;
    width: 100%;
    margin-top: 30px;
  }
  .header-bg .header-bg__button .button {
    width: 465px;
    height: 110px;
    padding-right: 40px;
  }
}
@media only screen and (max-width: 575.5px) {
  .header-bg .header-bg__button {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    left: 0px;
    bottom: 0;
  }
  .header-bg .header-bg__button .button {
    width: 100%;
  }
}

.page-bg {
  height: 750px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  position: relative;
  z-index: 0;
  padding-bottom: 70px;
}
.page-bg .page-bg__info-page {
  width: 100%;
}
.page-bg .page-bg__title {
  font-weight: 400;
  font-size: 90px;
  line-height: 120%;
  text-transform: uppercase;
  color: #F9F9F9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: 30%;
}
.page-bg .page-bg__button {
  height: 180px;
  width: 28%;
  position: absolute;
  left: 0px;
  bottom: -280px;
}
.page-bg .page-bg__button .button {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-content: center;
}
@media only screen and (max-width: 991.5px) {
  .page-bg {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 0px;
  }
  .page-bg .page-bg__title {
    font-weight: 400;
    font-size: 42px;
    line-height: 120%;
    margin-bottom: 30px;
  }
  .page-bg .page-bg__button {
    position: relative;
    left: initial;
    bottom: initial;
    height: 110px;
    width: 465px;
    margin-right: auto;
  }
  .page-bg .page-bg__button .button {
    padding-left: 160px;
  }
}
@media only screen and (max-width: 575.5px) {
  .page-bg .page-bg__title {
    margin: 0px;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .page-bg .page-bg__button {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  .page-bg .page-bg__button .button {
    padding-left: 0px;
  }
}

.cities-bg {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.cities-bg .cities-bg__img {
  padding: 85px 0px 85px 50px;
  height: 430px;
}
@media only screen and (max-width: 991.5px) {
  .cities-bg .cities-bg__img {
    padding: 33px 0px 33px 20px;
    height: 230px;
  }
}
@media only screen and (max-width: 575.5px) {
  .cities-bg {
    background-position: center right;
  }
  .cities-bg .cities-bg__img {
    padding: 20px 0px 20px 20px;
    height: 170px;
  }
}

.indicators-bg {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
  height: 710px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding-bottom: 60px;
  overflow: hidden;
}
@media only screen and (max-width: 991.5px) {
  .indicators-bg {
    height: 300px;
    padding-bottom: 15px;
  }
}
@media only screen and (max-width: 575.5px) {
  .indicators-bg {
    height: 710px;
    padding-bottom: 60px;
    background-position: 70%;
  }
}

.header-bg-empty {
  height: 100px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  z-index: 9;
}
.menu .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}
.menu .menu__elem:last-child .menu__link {
  margin-right: 0px;
}
.menu .menu__link {
  font-weight: 400;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0.01em;
  color: #F9F9F9;
  margin-right: 40px;
  border-bottom: 2px;
}
.menu .menu__link:hover {
  border-bottom: 2px solid #D34242;
}
.menu .menu__link_margin-right {
  margin-right: 80px;
}
.menu .mobile-menu-open {
  display: none;
  cursor: pointer;
}
.menu .sub-menu {
  position: relative;
}
.menu .sub-menu .menu__link::after {
  content: "";
  width: 24px;
  height: 24px;
  background-image: url("../image/icons/menu-white-arrow.png");
  background-size: 24px 24px;
  position: absolute;
  margin-left: 5px;
}
.menu .sub-menu .sub-menu__link {
  font-weight: 400;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0.01em;
  color: #F9F9F9;
}
.menu .sub-menu .sub-menu__link:hover {
  border-bottom: 2px solid #D34242;
}
.menu .sub-menu .sub-menu__elem {
  margin-top: 30px;
}
.menu .sub-menu .sub-menu__list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  display: none;
}
.menu .sub-menu.sub-menu_open {
  display: block;
  top: auto;
}
.menu .sub-menu.sub-menu_open .menu__link::after {
  content: "";
  width: 24px;
  height: 24px;
  background-image: url("../image/icons/menu-white-arrow.png");
  background-size: 24px 24px;
  position: absolute;
  margin-left: 5px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.menu .sub-menu.sub-menu_open .sub-menu__list {
  top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media only screen and (max-width: 991.5px) {
  .menu .menu__list {
    display: none;
  }
  .menu .mobile-menu-open {
    display: block;
  }
}

.menu-black {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  z-index: 9;
}
.menu-black .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}
.menu-black .menu__elem:last-child .menu__link {
  margin-right: 0px;
}
.menu-black .menu__link {
  font-weight: 400;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0.01em;
  color: #1B1B1B;
  margin-right: 40px;
  border-bottom: 2px;
}
.menu-black .menu__link:hover {
  border-bottom: 2px solid #D34242;
}
.menu-black .menu__link_margin-right {
  margin-right: 80px;
}
.menu-black .mobile-menu-open {
  display: none;
  cursor: pointer;
}
.menu-black .sub-menu {
  position: relative;
}
.menu-black .sub-menu .menu__link::after {
  content: "";
  width: 24px;
  height: 24px;
  background-image: url("../image/icons/menu-black-arrow.png");
  background-size: 24px 24px;
  position: absolute;
  margin-left: 5px;
}
.menu-black .sub-menu .sub-menu__link {
  font-weight: 400;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0.01em;
  color: #1B1B1B;
}
.menu-black .sub-menu .sub-menu__link:hover {
  border-bottom: 2px solid #D34242;
}
.menu-black .sub-menu .sub-menu__elem {
  margin-top: 30px;
}
.menu-black .sub-menu .sub-menu__list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  display: none;
}
.menu-black .sub-menu.sub-menu_open {
  display: block;
  top: auto;
}
.menu-black .sub-menu.sub-menu_open .menu__link::after {
  content: "";
  width: 24px;
  height: 24px;
  background-image: url("../image/icons/menu-black-arrow.png");
  background-size: 24px 24px;
  position: absolute;
  margin-left: 5px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.menu-black .sub-menu.sub-menu_open .sub-menu__list {
  top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media only screen and (max-width: 991.5px) {
  .menu-black .menu__list {
    display: none;
  }
  .menu-black .mobile-menu-open {
    display: block;
  }
}

.mobile-menu {
  position: fixed;
  padding-top: 30px;
  background-color: rgba(12, 28, 58, 0.94);
  width: 100%;
  height: 100%;
  z-index: 999;
  display: block;
  -webkit-transition: right 0.5s linear;
  -o-transition: right 0.5s linear;
  transition: right 0.5s linear;
  right: -100%;
  overflow-y: scroll;
}
.mobile-menu .mobile-menu-close {
  cursor: pointer;
}
.mobile-menu .mobile-menu__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mobile-menu .mobile-menu__header .logo__img {
  height: 20px;
}
.mobile-menu .menu__list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.mobile-menu .menu__link {
  margin: 0px;
}
.mobile-menu .menu__elem {
  margin-bottom: 25px;
}
.mobile-menu.mobile-menu_open {
  right: 0;
}
@media only screen and (max-width: 991.5px) {
  .mobile-menu .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.lang-switcher {
  margin-top: 100px;
  margin-bottom: 90px;
}
.lang-switcher .lang-switcher__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.lang-switcher .lang-switcher__elem {
  color: #F9F9F9;
  margin-right: 70px;
}
.lang-switcher .lang-switcher__elem:hover {
  color: #D34242;
}
.lang-switcher .lang-switcher__elem_active {
  color: #D34242;
}
.lang-switcher .lang-switcher__link {
  font-weight: 400;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0.01em;
  color: inherit;
}
@media only screen and (max-width: 767.5px) {
  .lang-switcher {
    margin-bottom: 70px;
  }
}

.indicators {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media only screen and (max-width: 575.5px) {
  .indicators {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.indicator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 90px;
  width: 200px;
  margin-top: 50px;
}
.indicator:first-child {
  margin-left: 0px;
}
.indicator .indicator__title {
  font-weight: 400;
  font-size: 90px;
  line-height: 100%;
  color: #F9F9F9;
  text-align: right;
  border-bottom: 2px solid #D34242;
  display: inline;
  padding-bottom: 10px;
}
.indicator .indicator__subtitle {
  font-weight: 300;
  font-size: 32px;
  line-height: 100%;
  text-align: right;
  color: #F9F9F9;
  padding-top: 10px;
}
@media only screen and (max-width: 991.5px) {
  .indicator {
    width: 15%;
    min-width: 130px;
  }
  .indicator .indicator__title {
    font-weight: 400;
    font-size: 50px;
    line-height: 100%;
  }
  .indicator .indicator__subtitle {
    font-weight: 300;
    font-size: 24px;
    line-height: 100%;
  }
}
@media only screen and (max-width: 575.5px) {
  .indicator {
    width: 70%;
  }
}

.page-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.page-info .page-info__left {
  width: 25%;
}
.page-info .page-info__right {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.page-info .page-info__title {
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  color: #0C1C3A;
  padding-bottom: 25px;
}
.page-info h3.page-info__title {
  font-weight: 300;
  font-size: 60px;
  line-height: 100%;
  color: #0C1C3A;
}
.page-info .page-info__subtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #1B1B1B;
}
.page-info .page-info__block-title {
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  text-transform: uppercase;
  color: #1B1B1B;
  width: 100%;
  padding-bottom: 30px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.page-info .page-info__block-subtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #1B1B1B;
  width: 50%;
  padding-right: 5%;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.page-info .page-info__img {
  width: 50%;
  max-height: 400px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.page-info .page-info__left_50 {
  width: 40%;
  padding-right: 50px;
}
@media only screen and (max-width: 991.5px) {
  .page-info .page-info__left_50 {
    padding-right: 30px;
  }
  .page-info .page-info__left_50.page-info__left {
    width: 50%;
  }
  .page-info .page-info__right_50.page-info__right {
    width: 50%;
  }
  .page-info h3.page-info__title {
    font-weight: 400;
    font-size: 28px;
    line-height: 100%;
  }
  .page-info .page-info__subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    padding-bottom: 20px;
  }
  .page-info .page-info__title {
    font-weight: 400;
    font-size: 28px;
    line-height: 100%;
  }
  .page-info .page-info__block-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .page-info .page-info__block-subtitle {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    width: 100%;
    padding-right: 0px;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .page-info .page-info__img {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
@media only screen and (max-width: 575.5px) {
  .page-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .page-info .page-info__left {
    width: 100%;
  }
  .page-info .page-info__right {
    width: 100%;
  }
  .page-info .page-info__left_50 {
    width: 100% !important;
    padding-right: 0px;
  }
  .page-info .page-info__right_50 {
    width: 100% !important;
  }
}

.map {
  width: 100%;
  position: relative;
}
.map .tooltip {
  position: absolute;
  display: none;
  background-color: #D34242;
  padding: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #F9F9F9;
}
.map .tooltip.tooltip_show {
  display: block;
}
@media only screen and (max-width: 991.5px) {
  .map .tooltip {
    font-size: 10px;
  }
}
@media only screen and (max-width: 575.5px) {
  .map .tooltip {
    font-size: 8px;
  }
}

.products__info {
  padding-top: 150px;
  padding-bottom: 150px;
}
@media only screen and (max-width: 991.5px) {
  .products__info {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.products {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product__column {
  width: 49%;
}
.product__column .product {
  width: 100%;
}
@media only screen and (max-width: 575.5px) {
  .product__column {
    width: 100%;
  }
}

.product {
  display: block;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  width: 49%;
  height: 340px;
  margin-bottom: 30px;
}
.product:hover .product__info {
  bottom: 0;
}
.product.product__big {
  height: 710px;
}
.product.product__big .product__img {
  height: 655px;
}
.product .product__img {
  width: 100%;
  height: 285px;
}
.product .product__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  background-color: #0C1C3A;
  width: 100%;
  height: 100%;
  padding: 20px 20px;
  bottom: calc(-100% + 80px);
  -webkit-transition: bottom 0.3s linear;
  -o-transition: bottom 0.3s linear;
  transition: bottom 0.3s linear;
}
.product .product__info::after {
  content: "";
  width: 35px;
  height: 35px;
  background-image: url("../image/icons/arrow-hover.png");
  background-size: 35px 35px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 20px;
  margin-bottom: 20px;
}
.product .product__title {
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  text-transform: uppercase;
  color: #F9F9F9;
  margin-bottom: 50px;
}
@media only screen and (max-width: 991.5px) {
  .product {
    height: 224px;
    margin-bottom: 10px;
  }
  .product.product__big {
    height: 458px;
  }
  .product.product__big .product__img {
    height: 400px;
  }
  .product .product__img {
    height: 180px;
  }
  .product .product__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
  }
  .product .product__info {
    bottom: calc(-100% + 60px);
    padding: 20px 10px;
  }
  .product .product__info::after {
    content: "";
    width: 30px;
    height: 30px;
    background-image: url("../image/icons/arrow-hover.png");
    background-size: 30px 30px;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 10px;
    margin-top: 16px;
  }
  .product:hover .product__info {
    bottom: calc(-100% + 60px);
  }
}
@media only screen and (max-width: 575.5px) {
  .product {
    width: 100%;
    height: 350px;
    margin-bottom: 20px;
  }
  .product.product__big {
    height: 350px;
  }
  .product.product__big .product__img {
    height: 400px;
  }
  .product .product__img {
    height: 300px;
  }
}

.product__list .product__elem {
  font-weight: 300;
  font-size: 22px;
  line-height: 100%;
  color: #F9F9F9;
  padding-bottom: 18px;
}
.product__list .product__elem:last-child {
  padding-bottom: 0px;
}

.products-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-top: 100px;
  padding-bottom: 150px;
  width: 100%;
}
.products-info .products-info_offset {
  width: 70%;
}
.products-info .products-info__sentence {
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  color: #0C1C3A;
  width: 100%;
  margin-bottom: 50px;
  margin-top: 100px;
}
.products-info .products-info__title {
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  text-transform: uppercase;
  color: #1B1B1B;
  padding-bottom: 20px;
}
.products-info .products-info__subtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #1B1B1B;
  padding-bottom: 20px;
}
.products-info .products-info__subtitle:last-child {
  padding-bottom: 0px;
}
.products-info .products-info__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #1B1B1B;
  margin-bottom: 20px;
}
.products-info .products-info__text:last-child {
  margin-bottom: 0px;
}
.products-info .products-info__text_padding {
  padding-top: 50px;
}
@media only screen and (max-width: 991.5px) {
  .products-info {
    padding-bottom: 100px;
    padding-top: 70px;
  }
  .products-info .products-info_offset {
    width: 100%;
  }
  .products-info .products-info__text_padding {
    padding-top: 70px;
  }
  .products-info .products-info__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    width: 100%;
  }
  .products-info .products-info__subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    width: 100%;
  }
  .products-info .products-info__sentence {
    font-weight: 400;
    font-size: 28px;
    line-height: 100%;
    margin-top: 70px;
  }
}
@media only screen and (max-width: 575.5px) {
  .products-info .products-info__title {
    padding-bottom: 40px;
  }
}

.blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.simple-block {
  border-radius: 10px;
  background: #EEEEEE;
  padding: 20px 20px 40px 20px;
  margin-bottom: 30px;
}
.simple-block:first-child {
  margin-top: 30px;
}
.simple-block:last-child {
  margin-bottom: 0px;
}
.simple-block span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
}
.simple-block .simple-block__title {
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  color: #0C1C3A;
  padding-bottom: 20px;
}
.simple-block .simple-block__subtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #1B1B1B;
}
@media only screen and (max-width: 991.5px) {
  .simple-block {
    padding: 20px;
  }
  .simple-block .simple-block__title {
    font-weight: 400;
    font-size: 28px;
    line-height: 100%;
  }
  .simple-block .simple-block__subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
  }
}
.dropdown-block {
  padding: 20px;
  border-radius: 10px;
  background: #EEEEEE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  margin-bottom: 30px;
  height: auto;
}
.dropdown-block:last-child {
  margin-bottom: 0px;
}
.dropdown-block .dropdown-block__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.dropdown-block.dropdown-block_open .dropdown-arrow {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.dropdown-block.dropdown-block_open .dropdown-arrow::after {
  display: block;
  content: "";
  width: 32px;
  height: 32px;
  background-image: url("../image/icons/arrow-bottom.png");
  background-size: 32px 32px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.dropdown-block.dropdown-block_open .dropdown-block__content {
  display: block;
}
.dropdown-block .dropdown-arrow {
  position: absolute;
  z-index: 999;
  right: 10px;
  top: 10px;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.dropdown-block .dropdown-arrow::after {
  display: block;
  content: "";
  width: 32px;
  height: 32px;
  background-image: url("../image/icons/arrow-bottom.png");
  background-size: 32px 32px;
}
.dropdown-block .dropdown-block__picture {
  width: calc(30% - 10px);
  padding-right: 5%;
}
.dropdown-block .dropdown-block__picture .dropdown-block__img {
  border-radius: 10px;
  width: 100%;
  height: 280px;
  -o-object-fit: cover;
     object-fit: cover;
}
.dropdown-block .dropdown-block__picture_big .dropdown-block__img {
  height: 310px;
}
.dropdown-block .dropdown-block__body {
  width: 70%;
}
.dropdown-block .dropdown-block__body_full {
  width: 100%;
}
.dropdown-block .dropdown-block__content {
  overflow: hidden;
  display: none;
  padding-bottom: 30px;
}
.dropdown-block .dropdown-block__title {
  font-weight: 300;
  font-size: 60px;
  line-height: 100%;
  color: #0C1C3A;
  padding-bottom: 20px;
  width: 95%;
  cursor: pointer;
}
.dropdown-block .dropdown-block__title:hover {
  color: #D34242;
}
.dropdown-block .dropdown-block__title:hover .dropdown-arrow::after {
  display: block;
  content: "";
  width: 50px;
  height: 50px;
  background-image: url("../image/icons/arrow-bottom-hover.png");
  background-size: 50px 50px;
}
.dropdown-block .dropdown-block__subtitle {
  width: 75%;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #1B1B1B;
  padding-bottom: 30px;
}
.dropdown-block .dropdown-block__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.dropdown-block .dropdown-block__list .dropdown-block__elem {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #1B1B1B;
  margin-bottom: 10px;
  padding-left: 15px;
  position: relative;
}
.dropdown-block .dropdown-block__list .dropdown-block__elem:last-child {
  margin-bottom: 0px;
}
.dropdown-block .dropdown-block__list .dropdown-block__elem::before {
  content: "•";
  position: absolute;
  left: 0px;
}
@media only screen and (max-width: 991.5px) {
  .dropdown-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .dropdown-block .dropdown-block__column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .dropdown-block .dropdown-block__list .dropdown-block__elem {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 20px !important;
  }
  .dropdown-block.dropdown-block_open .dropdown-block__title:hover {
    color: #0C1C3A;
  }
  .dropdown-block.dropdown-block_open .dropdown-block__title .dropdown-arrow {
    top: unset;
    right: 10px;
    bottom: 0px;
  }
  .dropdown-block.dropdown-block_open .dropdown-block__title .dropdown-arrow::after {
    display: block;
    content: "";
    width: 32px;
    height: 32px;
    background-image: url("../image/icons/arrow-bottom.png");
    background-size: 32px 32px;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .dropdown-block .dropdown-block__title:hover {
    color: #0C1C3A;
  }
  .dropdown-block .dropdown-block__title:hover .dropdown-arrow {
    top: unset;
    right: 10px;
    bottom: 0px;
  }
  .dropdown-block .dropdown-block__title:hover .dropdown-arrow::after {
    display: block;
    content: "";
    width: 32px;
    height: 32px;
    background-image: url("../image/icons/arrow-bottom.png");
    background-size: 32px 32px;
  }
  .dropdown-block .dropdown-arrow {
    top: unset;
    right: 10px;
    bottom: 0px;
  }
  .dropdown-block .dropdown-arrow::after {
    display: block;
    content: "";
    width: 32px;
    height: 32px;
    background-image: url("../image/icons/arrow-bottom.png");
    background-size: 32px 32px;
  }
  .dropdown-block .dropdown-block__picture {
    width: 100%;
    padding: 0px;
  }
  .dropdown-block .dropdown-block__body {
    width: 100%;
  }
  .dropdown-block .dropdown-block__title {
    margin-top: 20px;
    font-weight: 400;
    font-size: 26px;
    line-height: 120%;
  }
  .dropdown-block .dropdown-block__list .dropdown-block__elem {
    margin-bottom: 15px !important;
  }
  .dropdown-block .dropdown-block__list .dropdown-block__elem:last-child {
    margin-bottom: 0px;
  }
  .dropdown-block .dropdown-block__subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    width: 100%;
    padding-bottom: 50px;
  }
  .dropdown-block .dropdown-block__content {
    padding-bottom: 50px;
  }
}

.hard-coal__details h4 {
  font-weight: 500;
  font-size: 30px;
  line-height: 100%;
  color: #1B1B1B;
  padding-top: 40px;
}
.hard-coal__details h4:nth-child(1) {
  padding-top: 0px;
}
.hard-coal__details p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #1B1B1B;
  padding-top: 20px;
}
@media only screen and (max-width: 991.5px) {
  .hard-coal__details h4 {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
  }
  .hard-coal__details p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
  }
}

.fertilizers__details .fertilizers__caption {
  text-align: left;
  font-weight: 400;
  font-size: 26px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: #1B1B1B;
  margin-bottom: 5px;
  width: 150px;
  top: 0;
}
.fertilizers__details .fertilizers__body {
  text-align: left;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #1B1B1B;
}
.fertilizers__details .fertilizers__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  margin-top: 25px;
}
.fertilizers__details .fertilizers__line_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
}
@media only screen and (max-width: 991.5px) {
  .fertilizers__details .fertilizers__caption {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    width: 100px;
  }
  .fertilizers__details .fertilizers__body {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
  }
}
@media only screen and (max-width: 575.5px) {
  .fertilizers__details .fertilizers__line_small {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .fertilizers__details .fertilizers__line_small .fertilizers__caption {
    margin-bottom: 20px;
  }
}

.metallurgy__details {
  margin-top: 30px;
}
.metallurgy__details.metallurgy_no-margin {
  margin: 0px;
}
.metallurgy__details .metallurgy__signatures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.metallurgy__details .metallurgy__signatures .metallurgy__signature {
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1B1B1B;
}
.metallurgy__details .metallurgy__details_70 {
  margin-left: calc(30% - 10px);
}
.metallurgy__details.metallurgy__block-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.metallurgy__details .metallurgy__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 100%;
  color: #1B1B1B;
  margin-right: 70px;
  margin-bottom: 50px;
}
.metallurgy__details .metallurgy__title:last-child {
  margin-right: 0px;
}
@media only screen and (max-width: 991.5px) {
  .metallurgy__details {
    margin-top: 0px;
    margin-bottom: 20px;
  }
  .metallurgy__details .metallurgy__details {
    margin-bottom: 0px;
  }
  .metallurgy__details .metallurgy__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    margin-bottom: 20px;
    margin-top: 0px;
    margin-top: 70px;
    margin-bottom: 50px;
  }
  .metallurgy__details .metallurgy__details_70 {
    margin-left: 0px;
  }
  .metallurgy__details.metallurgy__block-title {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .metallurgy__details.metallurgy__reverse_lg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.fertilizers__table {
  width: 100%;
  margin-top: 60px;
  margin-bottom: 5px;
}
.fertilizers__table .table {
  width: 100%;
  border: 1px solid #A9A9A9;
}
.fertilizers__table .table .table__caption {
  font-weight: 400;
  font-size: 26px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: #1B1B1B;
  padding: 20px 10px 20px 10px;
}
.fertilizers__table .table .table__body {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #1B1B1B;
  padding: 20px 10px 20px 10px;
}
.fertilizers__table .table .table__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  border-bottom: 1px solid #A9A9A9;
}
.fertilizers__table .table .table__row:last-child {
  border: none;
}
.fertilizers__table .table.table_no-border {
  border: none;
}
.fertilizers__table .table.table_no-border .table__caption {
  padding-bottom: 15px;
}
.fertilizers__table .table .table__row_small {
  border-bottom: none;
}
.fertilizers__table .table .table__row_small .table__body {
  padding-top: 2px;
  padding-bottom: 2px;
}
.fertilizers__table .table .table__row_small .table__caption {
  padding-top: 2px;
  padding-bottom: 2px;
}
.fertilizers__table .table .table__row_small.table__row_padding .table__caption {
  padding-bottom: 15px;
}
.fertilizers__table .table .table__row_small.table__row_padding .table__body {
  padding-bottom: 15px;
}
.fertilizers__table .table .table__column {
  width: 65%;
  min-width: 65%;
  border-right: 1px solid #A9A9A9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
@media only screen and (max-width: 991.5px) {
  .fertilizers__table .table .table__column {
    border-right: none;
  }
  .fertilizers__table .table .table__caption {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    padding: 15px;
  }
  .fertilizers__table .table .table__body {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    padding: 15px;
    padding-top: 0px;
    padding-bottom: 15px;
  }
  .fertilizers__table .table .table__column {
    width: 100%;
  }
  .fertilizers__table .table .table__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .fertilizers__table .table .table_no-border {
    padding-bottom: 15px;
  }
  .fertilizers__table .table .table__row_small .table__body {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .fertilizers__table .table .table__row_small .table__caption {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .fertilizers__table .table .table__row_small.table__row_padding .table__caption {
    padding-bottom: 0px;
  }
  .fertilizers__table .table .table__row_small.table__row_padding .table__body {
    padding-bottom: 0px;
  }
}
@media only screen and (max-width: 575.5px) {
  .fertilizers__table {
    margin-top: 0px;
  }
}

.metallurgy__single-table {
  padding-bottom: 100px;
}
.metallurgy__single-table .table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  border-bottom: 1px solid #A9A9A9;
}
.metallurgy__single-table .table .table__row {
  border-top: 1px solid #A9A9A9;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0px 20px 0px;
}
.metallurgy__single-table .table .table__caption {
  font-weight: 400;
  font-size: 26px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: #1B1B1B;
  width: 30%;
  text-align: left;
}
.metallurgy__single-table .table .table__body {
  width: 70%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #1B1B1B;
}
@media only screen and (max-width: 991.5px) {
  .metallurgy__single-table {
    padding-bottom: 30px;
  }
  .metallurgy__single-table .table {
    border-left: 1px solid #A9A9A9;
    border-right: 1px solid #A9A9A9;
  }
  .metallurgy__single-table .table .table__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 15px;
  }
  .metallurgy__single-table .table .table__caption {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    width: 100%;
  }
  .metallurgy__single-table .table .table__body {
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
  }
}
.metallurgy__row-table .table .table__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.metallurgy__row-table .table .table__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  border: 1px solid #A9A9A9;
}
.metallurgy__row-table .table .table__caption {
  padding: 20px 0px;
  width: 100%;
  height: 100%;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: #F9F9F9;
  background-color: #0C1C3A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-bottom: 1px solid #A9A9A9;
}
.metallurgy__row-table .table .table__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #1B1B1B;
  text-align: center;
  width: 100%;
  height: 100%;
  min-height: 100px;
}
@media only screen and (max-width: 991.5px) {
  .metallurgy__row-table .table {
    border: 1px solid #A9A9A9;
  }
  .metallurgy__row-table .table .table__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .metallurgy__row-table .table .table__caption {
    background-color: unset;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #0C1C3A;
    border: none;
    padding: 0px;
    text-align: left;
    width: auto;
    padding-bottom: 10px;
  }
  .metallurgy__row-table .table .table__body {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    min-height: unset;
    text-align: left;
    width: auto;
  }
  .metallurgy__row-table .table .table__column {
    padding: 15px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    border: none;
    border-bottom: 1px solid #A9A9A9;
  }
  .metallurgy__row-table .table .table__column:last-child {
    border-bottom: none;
  }
}

.metallurgy__table {
  padding-bottom: 40px;
}
.metallurgy__table .table {
  table-layout: auto;
  border-collapse: collapse;
  width: 100%;
}
.metallurgy__table .table th,
.metallurgy__table .table td {
  border: 1px solid #A9A9A9;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  vertical-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #1B1B1B;
}
.metallurgy__table .table .table__head {
  background-color: #0C1C3A;
}
.metallurgy__table .table .table__head th,
.metallurgy__table .table .table__head td {
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: #F9F9F9;
  width: auto;
}
@media only screen and (max-width: 991.5px) {
  .metallurgy__table {
    display: none;
  }
}

.certificates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.certificates .certificate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 140px;
  width: 20%;
  margin-right: 15px;
  margin-bottom: 20px;
}
.certificates .certificate .certificate__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #1B1B1B;
}
.certificates .certificate .certificate__img {
  width: 80px;
  height: 80px;
}
@media only screen and (max-width: 991.5px) {
  .certificates .certificate {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    min-width: 100px;
  }
  .certificates .certificate .certificate__title {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
  }
  .certificates .certificate .certificate__img {
    width: 40px;
    height: 40px;
  }
}
@media only screen and (max-width: 575.5px) {
  .certificates {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .certificates .certificate {
    margin-right: 0px;
    min-width: 80px;
    width: 30%;
  }
  .certificates .certificate .certificate__img {
    width: 30px;
    height: 30px;
  }
}

.contact-us {
  position: relative;
  width: 70%;
  padding-top: 70px;
  padding-bottom: 70px;
  -webkit-transition: width 0.5s linear;
  -o-transition: width 0.5s linear;
  transition: width 0.5s linear;
}
.contact-us .contact-us__title {
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  color: #0C1C3A;
  margin-bottom: 100px;
  opacity: 1;
  -webkit-transition: opacity 0.5s linear;
  -o-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}
.contact-us .cotact-us__close {
  right: 20px;
  top: 20px;
  position: absolute;
  cursor: pointer;
}
.contact-us .contact-form {
  -webkit-transition: opacity 0.5s linear;
  -o-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
  opacity: 1;
}
.contact-us .contact-us__msg {
  font-weight: 400;
  font-size: 30px;
  line-height: 100%;
  text-align: center;
  color: #1B1B1B;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.5s linear;
  -o-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
  position: absolute;
  top: 50%;
  left: 0;
}
.contact-us.contact-us_send {
  width: 100%;
}
.contact-us.contact-us_send .contact-us__title {
  opacity: 0;
}
.contact-us.contact-us_send .contact-us__msg {
  opacity: 1;
}
.contact-us.contact-us_send .contact-form {
  opacity: 0;
}
@media only screen and (max-width: 991.5px) {
  .contact-us {
    width: 100%;
  }
  .contact-us .contact-us__title {
    font-weight: 400;
    font-size: 28px;
    line-height: 100%;
    margin-bottom: 50px;
  }
  .contact-us .contact-us__msg {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
  }
  .contact-us.contact-us_send {
    height: 500px;
  }
}

.contact {
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background: rgba(12, 28, 58, 0.7);
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding-top: 200px;
}
.contact.contact_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contact .contact-frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 0px 30px;
}
.contact .contact-frame .contact-us {
  background-color: #EEEEEE;
  border-radius: 10px;
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
.contact-form .contact-form__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}
.contact-form .contact-form__input {
  border-bottom: 1px solid #A9A9A9;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #1B1B1B;
  background-color: transparent;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 30px;
}
.contact-form .contact-form__input::-webkit-input-placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #A9A9A9;
}
.contact-form .contact-form__input::-moz-placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #A9A9A9;
}
.contact-form .contact-form__input:-ms-input-placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #A9A9A9;
}
.contact-form .contact-form__input::-ms-input-placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #A9A9A9;
}
.contact-form .contact-form__input::placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #A9A9A9;
}
.contact-form .contact-form__input_error {
  color: #D34242;
  border-bottom: 1px solid #D34242;
}
.contact-form .contact-form__error-msg {
  display: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #D34242;
  margin-top: -25px;
}
.contact-form .contact-form__input_error + .contact-form__error-msg {
  display: block;
}
.contact-form .contact-form__textarea-title {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #1B1B1B;
  margin-bottom: 10px;
  margin-top: 35px;
}
.contact-form .contact-form__textarea {
  border: 1px solid #A9A9A9;
  width: 100%;
  height: 140px;
  padding: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #1B1B1B;
  resize: none;
}
.contact-form .contact-form__button {
  opacity: 0;
}
.contact-form .contact-form__button-label {
  height: 90px;
  width: 200px;
  margin-left: auto;
}
@media only screen and (max-width: 991.5px) {
  .contact-form .contact-form__group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .contact-form .contact-form__group .contact-form__custom-checkbox {
    font-weight: 400;
    font-size: 26px;
    line-height: 120%;
    margin-bottom: 50px;
  }
  .contact-form .contact-form__group .contact-form__custom-checkbox:last-child {
    margin-bottom: 0px;
  }
  .contact-form .contact-form__group .contact-form__input::-webkit-input-placeholder {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
  }
  .contact-form .contact-form__group .contact-form__input::-moz-placeholder {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
  }
  .contact-form .contact-form__group .contact-form__input:-ms-input-placeholder {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
  }
  .contact-form .contact-form__group .contact-form__input::-ms-input-placeholder {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
  }
  .contact-form .contact-form__group .contact-form__input::placeholder {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
  }
}
@media only screen and (max-width: 575.5px) {
  .contact-form .contact-form__button-label {
    width: 100%;
  }
}

* {
  font-family: "Oswald";
  font-style: normal;
}

body {
  overflow-x: hidden !important;
}