// https://www.figma.com/file/UENtD0bN4y3HI3FozlCJqv/NODRAL?node-id=497%3A5682
// map https://stackoverflow.com/questions/10643426/how-to-add-a-tooltip-to-an-svg-graphic
@import "./include/nullstyle";
@import "./include/params";
@import "./include/container";
@import "./include/button";
@import "./include/icons";
@import "./include/checkbox";

@import "./part/header";
@import "./part/footer";
@import "./part/bg";
@import "./part/menu";
@import "./part/indicators";
@import "./part/page-info";
@import "./part/products";
@import "./part/product-info";
@import "./part/blocks";
@import "./part/details";
@import "./part/tables";
@import "./part/certificates";
@import "./part/contact_us";


* {
    font-family: 'Oswald';
    font-style: normal;
}

// html {
//     scroll-behavior: smooth;
// }

body {
    overflow-x: hidden !important;
}