.header-bg {
  height: 895px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  .header-bg__title {
    font-weight: 400;
    font-size: 90px;
    line-height: 120%;
    text-transform: uppercase;
    color: $color-white;
    display: flex;
    justify-content: flex-start;
  }
  .header-bg__subtitle {
    font-weight: 400;
    font-size: 26px;
    line-height: 120%;
    letter-spacing: 0.01em;
    color: $color-white;
    display: flex;
    justify-content: flex-start;
    width: auto;
    max-width: 650px;
    margin-top: 10px;
  }
  .header-bg__info-page {
    margin-top: 150px;
  }

  .header-bg__button {
    height: 180px;
    width: 920px;
    position: absolute;
    left: 0px;
    bottom: 0;
    .button {
      padding-right: 200px;
    }
  }

  @include media-max("lg") {
    flex-direction: column;
    .header-bg__title {
      font-size: 42px;
      line-height: 120%;
    }
    .header-bg__subtitle {
      font-size: 20px;
      line-height: 120%;
      max-width: 320px;
    }
    .header-bg__info-page {
      margin-top: 0px;
    }
    .header-bg__button {
      position: relative;
      width: 100%;
      margin-top: 30px;
      .button {
        width: 465px;
        height: 110px;
        padding-right: 40px;
      }
    }
  }
  @include media-max("sm") {
    .header-bg__button {
      width: 100%;
      justify-content: center;
      position: absolute;
      left: 0px;
      bottom: 0;
      .button {
        width: 100%;
      }
    }
  }
}

.page-bg {
  height: 750px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  position: relative;
  z-index: 0;
  padding-bottom: 70px;
  .page-bg__info-page {
    width: 100%;
  }
  .page-bg__title {
    font-weight: 400;
    font-size: 90px;
    line-height: 120%;
    text-transform: uppercase;
    color: $color-white;
    display: flex;
    justify-content: flex-start;
    margin-left: 30%;
  }
  .page-bg__button {
    height: 180px;
    width: 28%;
    position: absolute;
    left: 0px;
    bottom: calc(-180px - 100px);
    .button {
      justify-content: center;
      justify-content: center;
    }
  }
  @include media-max("lg") {
    justify-content: center;
    padding-bottom: 0px;
    .page-bg__title {
      font-weight: 400;
      font-size: 42px;
      line-height: 120%;
      margin-bottom: 30px;
    }
    .page-bg__button {
      position: relative;
      left: initial;
      bottom: initial;
      height: 110px;
      width: 465px;
      margin-right: auto;
      .button {
        padding-left: 160px;
      }
    }
  }
  @include media-max("sm") {
    .page-bg__title {
      margin: 0px;
      width: 100%;
      justify-content: center;
    }
    .page-bg__button {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      .button {
        padding-left: 0px;
      }
    }
  }
}

.cities-bg {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  .cities-bg__img {
    padding: 85px 0px 85px 50px;
    height: 430px;
  }

  @include media-max("lg") {
    .cities-bg__img {
      padding: 33px 0px 33px 20px;
      height: 230px;
    }
  }
  @include media-max("sm") {
    background-position: center right;
    .cities-bg__img {
      padding: 20px 0px 20px 20px;
      height: 170px;
    }
  }
}

.indicators-bg {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
  height: 710px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-bottom: 60px;
  overflow: hidden;
  @include media-max("lg") {
    height: 300px;
    padding-bottom: 15px;
  }
  @include media-max("sm") {
    height: 710px;
    padding-bottom: 60px;
    background-position: 70%;
  }
}


.header-bg-empty{
  height: 100px;
}