@import "../include/params";

.blocks {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.simple-block {
  border-radius: 10px;
  background: $color-light-gray;
  padding: 20px 20px 40px 20px;
  margin-bottom: 30px;
  &:first-child {
    margin-top: 30px;
  }
  &:last-child {
    margin-bottom: 0px;
  }
  span {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
  }
  .simple-block__title {
    font-weight: 400;
    font-size: 50px;
    line-height: 100%;
    color: $color-dark-blue;
    padding-bottom: 20px;
  }
  .simple-block__subtitle {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: $color-black;
  }
  @include media-max("lg") {
    padding: 20px;

    .simple-block__title {
      font-weight: 400;
      font-size: 28px;
      line-height: 100%;
    }
    .simple-block__subtitle {
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
    }
  }
  @include media-max("sm") {
  }
}

.dropdown-block {
  padding: 20px;
  border-radius: 10px;
  background: $color-light-gray;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 30px;
  height: auto;
  &:last-child {
    margin-bottom: 0px;
  }

  .dropdown-block__column {
    display: flex;
    flex-direction: column;
  }

  &.dropdown-block_open {
    .dropdown-arrow {
      position: absolute;
      right: 10px;
      top: 10px;
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      &::after {
        display: block;
        content: "";
        width: 32px;
        height: 32px;
        background-image: url($path-arrow-bottom);
        background-size: 32px 32px;
        transform: rotate(180deg);
      }
    }

    .dropdown-block__content {
      display: block;
    }
  }

  .dropdown-arrow {
    position: absolute;
    z-index: 999;
    right: 10px;
    top: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    &::after {
      display: block;
      content: "";
      width: 32px;
      height: 32px;
      background-image: url($path-arrow-bottom);
      background-size: 32px 32px;
    }
  }

  .dropdown-block__picture {
    width: calc(30% - 10px);
    padding-right: 5%;
    .dropdown-block__img {
      border-radius: 10px;
      width: 100%;
      height: 280px;
      object-fit: cover;
    }
  }
  .dropdown-block__picture_big {
    .dropdown-block__img {
      height: 310px;
    }
  }

  .dropdown-block__body {
    width: 70%;
  }

  .dropdown-block__body_full {
    width: 100%;
  }

  .dropdown-block__content {
    overflow: hidden;
    display: none;
    padding-bottom: 30px;
  }

  .dropdown-block__title {
    font-weight: 300;
    font-size: 60px;
    line-height: 100%;
    color: $color-dark-blue;
    padding-bottom: 20px;
    width: 95%;
    cursor: pointer;
    &:hover {
      color: $color-red;
      .dropdown-arrow {
        &::after {
          display: block;
          content: "";
          width: 50px;
          height: 50px;
          background-image: url($path-arrow-bottom-hover);
          background-size: 50px 50px;
        }
      }
    }
  }

  .dropdown-block__subtitle {
    width: 75%;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: $color-black;
    padding-bottom: 30px;
  }

  .dropdown-block__list {
    display: flex;
    flex-direction: column;
    .dropdown-block__elem {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 150%;
      color: $color-black;
      margin-bottom: 10px;
      padding-left: 15px;
      &:last-child {
        margin-bottom: 0px;
      }
      position: relative;
      &::before {
        content: "•";
        position: absolute;
        left: 0px;
      }
    }
  }

  @include media-max("lg") {
    flex-direction: column;
    .dropdown-block__column {
      flex-direction: column-reverse;
    }
    .dropdown-block__list {
      .dropdown-block__elem {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        margin-bottom: 20px !important;
      }
    }
    &.dropdown-block_open {
      .dropdown-block__title {
        &:hover {
          color: $color-dark-blue;
        }
        .dropdown-arrow {
          top: unset;
          right: 10px;
          bottom: 0px;
          &::after {
            display: block;
            content: "";
            width: 32px;
            height: 32px;
            background-image: url($path-arrow-bottom);
            background-size: 32px 32px;
            transform: rotate(180deg);
          }
        }
      }
    }
    .dropdown-block__title {
      &:hover {
        color: $color-dark-blue;
        .dropdown-arrow {
          top: unset;
          right: 10px;
          bottom: 0px;
          &::after {
            display: block;
            content: "";
            width: 32px;
            height: 32px;
            background-image: url($path-arrow-bottom);
            background-size: 32px 32px;
          }
        }
      }
    }

    .dropdown-arrow {
      top: unset;
      right: 10px;
      bottom: 0px;
      &::after {
        display: block;
        content: "";
        width: 32px;
        height: 32px;
        background-image: url($path-arrow-bottom);
        background-size: 32px 32px;
      }
    }

    .dropdown-block__picture {
      width: 100%;
      padding: 0px;
    }
    .dropdown-block__body {
      width: 100%;
    }
    .dropdown-block__title {
      margin-top: 20px;
      font-weight: 400;
      font-size: 26px;
      line-height: 120%;
    }
    .dropdown-block__list {
      .dropdown-block__elem {
        margin-bottom: 15px !important;
        &:last-child {
          margin-bottom: 0px;
        }
      }
    }
    .dropdown-block__subtitle {
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      width: 100%;
      padding-bottom: 50px;
    }
    .dropdown-block__content {
      padding-bottom: 50px;
    }
  }
}
