@import "../include/params";

.certificates {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
  .certificate {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-width: 140px;
    width: 20%;
    margin-right: 15px;
    margin-bottom: 20px;
    .certificate__title {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 150%;
      text-align: center;
      color: $color-black;
    }
    .certificate__picture {
    }
    .certificate__img {
      width: 80px;
      height: 80px;
    }
  }
  @include media-max("lg") {
    .certificate {
      flex-direction: column-reverse;
      min-width: 100px;
      .certificate__title {
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
      }
      .certificate__img {
        width: 40px;
        height: 40px;
      }
    }
  }
  @include media-max("sm") {
    justify-content: space-between;

    .certificate {
      margin-right: 0px;
      min-width: 80px;
      width: 30%;
      .certificate__img {
        width: 30px;
        height: 30px;
      }
    }
  }
}
