@import "../include/params";

.contact-us {
  position: relative;
  .contact-us__title {
    font-weight: 400;
    font-size: 50px;
    line-height: 100%;
    color: $color-dark-blue;
    margin-bottom: 100px;
    opacity: 1;
    transition: opacity 0.5s linear;
  }
  .cotact-us__close {
    right: 20px;
    top: 20px;
    position: absolute;
    cursor: pointer;
  }
  .contact-form {
    transition: opacity 0.5s linear;
    opacity: 1;
  }
  .contact-us__msg {
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    text-align: center;
    color: $color-black;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s linear;
    position: absolute;
    top: 50%;
    left: 0;
  }
  width: 70%;
  padding-top: 70px;
  padding-bottom: 70px;
  transition: width 0.5s linear;

  &.contact-us_send {
    width: 100%;

    .contact-us__title {
      opacity: 0;
    }
    .contact-us__msg {
      opacity: 1;
    }
    .contact-form {
      opacity: 0;
    }
  }
  @include media-max("lg") {
    width: 100%;
    .contact-us__title {
      font-weight: 400;
      font-size: 28px;
      line-height: 100%;
      margin-bottom: 50px;
    }
    .contact-us__msg {
      font-weight: 400;
      font-size: 16px;
      line-height: 120%;
    }
    &.contact-us_send {
      height: 500px;
    }
  }
}

.contact {
  &.contact_active {
    display: flex;
  }
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background: $color-bg-frame-transparent;
  display: none;
  flex-direction: column;
  justify-content: start;
  padding-top: 200px;
  .contact-frame {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0px 30px;
    .contact-us {
      background-color: $color-light-gray;
      border-radius: 10px;
    }
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  .contact-form__group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  .contact-form__input {
    border-bottom: 1px solid $color-gray;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: $color-black;
    background-color: transparent;
    &::placeholder {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 150%;
      color: $color-gray;
    }
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;
  }
  .contact-form__input_error {
    color: $color-red;
    border-bottom: 1px solid $color-red;
  }
  .contact-form__error-msg {
    display: none;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: $color-red;
    margin-top: -25px;
  }
  .contact-form__input_error + .contact-form__error-msg {
    display: block;
  }
  .contact-form__textarea-title {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: $color-black;
    margin-bottom: 10px;
    margin-top: 35px;
  }
  .contact-form__textarea {
    border: 1px solid $color-gray;
    width: 100%;
    height: 140px;
    padding: 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: $color-black;
    resize: none;
  }
  .contact-form__button {
    opacity: 0;
  }
  .contact-form__button-label {
    height: 90px;
    width: 200px;
    margin-left: auto;
  }
  @include media-max("lg") {
    .contact-form__group {
      flex-direction: column;
      align-items: flex-start;
      .contact-form__custom-checkbox {
        font-weight: 400;
        font-size: 26px;
        line-height: 120%;
        margin-bottom: 50px;
        &:last-child {
          margin-bottom: 0px;
        }
      }
      .contact-form__input {
        &::placeholder {
          font-weight: 500;
          font-size: 18px;
          line-height: 150%;
        }
      }
    }
  }
  @include media-max("sm") {
    .contact-form__button-label {
      width: 100%;
    }
  }
}
