@import "../include/params";

.hard-coal__details {
  h4 {
    font-weight: 500;
    font-size: 30px;
    line-height: 100%;
    color: $color-black;
    padding-top: 40px;
    &:nth-child(1) {
      padding-top: 0px;
    }
  }
  p {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: $color-black;
    padding-top: 20px;
  }
  @include media-max("lg") {
    h4 {
      font-weight: 400;
      font-size: 20px;
      line-height: 120%;
    }
    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
    }
  }
}

.fertilizers__details {
  .fertilizers__caption {
    text-align: left;
    font-weight: 400;
    font-size: 26px;
    line-height: 120%;
    letter-spacing: 0.01em;
    color: $color-black;
    margin-bottom: 5px;
    width: 150px;
    top: 0;
  }
  .fertilizers__body {
    text-align: left;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: $color-black;
  }
  .fertilizers__line {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    margin-top: 25px;
  }
  .fertilizers__line_top {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 25px;
  }
  @include media-max("lg") {
    .fertilizers__caption {
      font-weight: 400;
      font-size: 20px;
      line-height: 120%;
      width: 100px;
    }
    .fertilizers__body {
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
    }
  }
  @include media-max("sm") {
    .fertilizers__line_small {
      .fertilizers__caption {
        margin-bottom: 20px;
      }
      flex-direction: column;
    }
  }
}

.cereal-grains__details {
}

.metallurgy__details {
  margin-top: 30px;
  &.metallurgy_no-margin{
    margin: 0px;
  }
  .metallurgy__signatures {
    display: flex;
    flex-direction: column;
    .metallurgy__signature {
      font-weight: 400;
      font-size: 18px;
      line-height: 120%;
      display: flex;
      align-items: center;
      color: $color-black;
    }
  }
  .metallurgy__details_70{
    margin-left: calc(30% - 10px);
  }
  &.metallurgy__block-title{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .metallurgy__title {
    font-weight: 500;
    font-size: 30px;
    line-height: 100%;
    color: $color-black;
    margin-right: 70px;
    margin-bottom: 50px;
    &:last-child {
      margin-right: 0px;
    }
  }

  @include media-max("lg") {
    margin-top: 0px;
    margin-bottom: 20px;
    .metallurgy__details{
      margin-bottom: 0px;
    }
    .metallurgy__title {
      font-weight: 400;
      font-size: 16px;
      line-height: 120%;
      margin-bottom: 20px;
      margin-top: 0px;
      margin-top: 70px;
      margin-bottom: 50px;
    }
    .metallurgy__details_70{
      margin-left: 0px;
    }
    &.metallurgy__block-title{
      justify-content: center;
    }
    &.metallurgy__reverse_lg{
      display: flex;
      flex-direction: column-reverse;
    }
  }
}
