@import "../include/params";

.footer {
  background-color: $color-dark-blue;
  padding-top: 70px;
  padding-bottom: 20px;

  .logo__img {
    height: 37px;
  }

  .footer__line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .footer_vertical-center {
    align-items: center;
  }

  .footer__title {
    font-weight: 300;
    font-size: 60px;
    line-height: 100%;
    color: $color-white;
  }

  .footer__subtitle {
    font-weight: 500;
    font-size: 30px;
    line-height: 100%;
    color: $color-white;
    padding-top: 50px;
    padding-bottom: 20px;
  }

  .footer__button {
    width: 240px;
    height: 60px;
    .button {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 100%;
      color: $color-white;
      align-items: center;
      justify-content: center;
      &::after {
        content: "";
        width: 30px;
        height: 30px;
        background-image: url($path-arrow-button);
        background-size: 30px 30px;
        margin-left: 10px;
      }
    }
  }
  .footer__link {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: $color-gray;
  }
  .footer__links {
    margin-top: 120px;
  }
  .footer__contact {
    margin-top: 100px;
  }
  @include media-max("lg") {
    padding-top: 50px;
    .footer__links {
      margin-top: 40px;
    }
    .footer__title {
      font-weight: 400;
      font-size: 28px;
      line-height: 100%;
    }
    .footer__subtitle {
      font-weight: 400;
      font-size: 16px;
      line-height: 120%;
      padding-top: 10px;
      padding-bottom: 0px;
    }
    .logo__img {
      height: 25px;
    }
    .footer__contact {
      margin-top: 50px;
    }
  }
  @include media-max("sm") {
    padding-top: 70px;
    .logo__img {
      height: 32px;
    }
    .footer__contact {
      flex-direction: column-reverse;
      margin-top: 60px;
    }
    .footer__title {
      margin-top: 50px;
    }
    .footer__subtitle {
      padding-top: 24px;
    }
    .footer__links {
      margin-top: 100px;
    }
  }
}

.footer-address {
  margin-top: 50px;
  padding-right: 20px;
  .footer-address__title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 160%;
    color: $color-white;
  }
  .footer-address__subtitle {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    color: $color-white;
    a {
      all: inherit;
      cursor: pointer;
      &:hover {
        color: $color-gray;
      }
    }
  }
  .footer-address__icon {
    display: none;
  }
  @include media-max("lg") {
    width: 45%;
    margin-top: 50px;
    .footer-address__title {
      font-size: 16px;
      line-height: 24px;
    }
    .footer-address__subtitle {
      font-size: 16px;
      line-height: 24px;
    }
  }
  @include media-max("sm") {
    width: 100%;
    &:first-child {
      margin-top: 40px;
    }
    .footer-address__icon {
      display: block;
      margin-bottom: 8px;
    }
  }
}

.footer-menu {
  .menu__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .menu__link {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    color: $color-white;
    margin-right: 40px;
    padding-bottom: 2px;
    &:hover {
      border-bottom: 2px solid $color-red;
    }
  }
  .menu__elem {
    &:last-child {
      .menu__link {
        margin-right: 0px;
      }
    }
  }
  @include media-max("lg") {
    width: 100%;
    .menu__link {
      margin-right: 20px;
      font-size: 16px;
      line-height: 150%;
    }
    .menu__elem {
      margin-top: 20px;
      &:last-child {
        .menu__link {
          margin-right: 0px;
        }
      }
    }
  }
  @include media-max("sm") {
    margin-top: 16px;
    .menu__list {
      flex-direction: column;
    }
    .menu__elem {
      margin-top: 24px;
    }
  }
}
