@import "../include/params";

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.logo__link {
  z-index: 999;
}

.logo__img {
  height: 30px;
}

@include media-max("lg") {
  .logo__img {
    height: 20px;
  }
}
