.indicators {
  display: flex;
  flex-direction: row;
  justify-content: end;
  flex-wrap: wrap;
  @include media-max("sm") {
    flex-direction: column;
    align-items: flex-end;
  }
}

.indicator {
  display: flex;
  flex-direction: column;
  margin-left: 90px;
  width: 200px;
  margin-top: 50px;
  &:first-child {
    margin-left: 0px;
  }
  .indicator__title {
    font-weight: 400;
    font-size: 90px;
    line-height: 100%;
    color: $color-white;
    text-align: right;
    border-bottom: 2px solid $color-red;
    display: inline;
    padding-bottom: 10px;
  }
  .indicator__subtitle {
    font-weight: 300;
    font-size: 32px;
    line-height: 100%;
    text-align: right;
    color: $color-white;
    padding-top: 10px;
  }
  @include media-max("lg") {
    width: 15%;
    min-width: 130px;
    .indicator__title {
      font-weight: 400;
      font-size: 50px;
      line-height: 100%;
    }
    .indicator__subtitle {
      font-weight: 300;
      font-size: 24px;
      line-height: 100%;
    }
  }
  @include media-max("sm") {
    width: 70%;
  }
}
