@import "../include/params";

.menu {
  display: flex;
  flex-direction: row;
  z-index: 9;
  .menu__list {
    display: flex;
    flex-direction: row;
    position: relative;
  }

  .menu__elem {
    &:last-child {
      .menu__link {
        margin-right: 0px;
      }
    }
  }
  
  .menu__link {
    font-weight: 400;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0.01em;
    color: $color-white;
    margin-right: 40px;
    border-bottom: 2px;
    &:hover {
      border-bottom: 2px solid $color-red;
    }
  }
  .menu__link_margin-right {
    margin-right: 80px;
  }

  .mobile-menu-open {
    display: none;
    cursor: pointer;
  }

  .sub-menu {
    position: relative;
    .menu__link {
      &::after {
        content: "";
        width: 24px;
        height: 24px;
        background-image: url($path-menu-white-arrow);
        background-size: 24px 24px;
        position: absolute;
        margin-left: 5px;
      }
    }
    .sub-menu__link {
      font-weight: 400;
      font-size: 22px;
      line-height: 100%;
      letter-spacing: 0.01em;
      color: $color-white;
      &:hover {
        border-bottom: 2px solid $color-red;
      }
    }
    .sub-menu__elem {
      margin-top: 30px;
    }
    .sub-menu__list {
      flex-direction: column;
      position: absolute;
      display: none;
    }
    &.sub-menu_open {
      display: block;
      top: auto;
      .menu__link {
        &::after {
          content: "";
          width: 24px;
          height: 24px;
          background-image: url($path-menu-white-arrow);
          background-size: 24px 24px;
          position: absolute;
          margin-left: 5px;
          transform: rotate(180deg);
        }
      }
      .sub-menu__list {
        top: 20px;
        display: flex;
      }
    }
  }

  @include media-max("lg") {
    .menu__list {
      display: none;
    }
    .mobile-menu-open {
      display: block;
    }
  }
}


.menu-black {
  display: flex;
  flex-direction: row;
  z-index: 9;
  .menu__list {
    display: flex;
    flex-direction: row;
    position: relative;
  }
  
  .menu__elem {
    &:last-child {
      .menu__link {
        margin-right: 0px;
      }
    }
  }
  
  .menu__link {
    font-weight: 400;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0.01em;
    color: $color-black;
    margin-right: 40px;
    border-bottom: 2px;
    &:hover {
      border-bottom: 2px solid $color-red;
    }
  }
  .menu__link_margin-right {
    margin-right: 80px;
  }

  .mobile-menu-open {
    display: none;
    cursor: pointer;
  }

  .sub-menu {
    position: relative;
    .menu__link {
      &::after {
        content: "";
        width: 24px;
        height: 24px;
        background-image: url($path-menu-black-arrow);
        background-size: 24px 24px;
        position: absolute;
        margin-left: 5px;
      }
    }
    .sub-menu__link {
      font-weight: 400;
      font-size: 22px;
      line-height: 100%;
      letter-spacing: 0.01em;
      color: $color-black;
      &:hover {
        border-bottom: 2px solid $color-red;
      }
    }
    .sub-menu__elem {
      margin-top: 30px;
    }
    .sub-menu__list {
      flex-direction: column;
      position: absolute;
      display: none;
    }
    &.sub-menu_open {
      display: block;
      top: auto;
      .menu__link {
        &::after {
          content: "";
          width: 24px;
          height: 24px;
          background-image: url($path-menu-black-arrow);
          background-size: 24px 24px;
          position: absolute;
          margin-left: 5px;
          transform: rotate(180deg);
        }
      }
      .sub-menu__list {
        top: 20px;
        display: flex;
      }
    }
  }

  @include media-max("lg") {
    .menu__list {
      display: none;
    }
    .mobile-menu-open {
      display: block;
    }
  }
}


.mobile-menu {
  position: fixed;
  padding-top: 30px;
  background-color: $color-dark-blue-transparent;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: block;
  transition: right 0.5s linear;
  right: -100%;
  overflow-y: scroll;
  .mobile-menu-close {
    cursor: pointer;
  }
  .mobile-menu__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .logo__img {
      height: 20px;
    }
  }
  .menu__list {
    flex-direction: column;
  }
  .menu__link {
    margin: 0px;
  }
  .menu__elem {
    margin-bottom: 25px;
  }
  &.mobile-menu_open {
    right: 0;
  }
  @include media-max("lg") {
    .mobile-menu__list {
    }
    .menu__list {
      display: flex;
    }
  }
}

.lang-switcher {
  margin-top: 100px;
  margin-bottom: 90px;
  .lang-switcher__list {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .lang-switcher__elem {
    color: $color-white;
    margin-right: 70px;
    &:hover {
      color: $color-red;
    }
  }
  .lang-switcher__elem_active {
    color: $color-red;
  }
  .lang-switcher__link {
    font-weight: 400;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0.01em;
    color: inherit;
  }
  @include media-max("md") {
    margin-bottom: 70px;
  }
}
