@import "../include/params";

.page-info {
  display: flex;
  flex-direction: row;
  .page-info__left {
    width: 25%;
  }
  .page-info__right {
    width: 75%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .page-info__title {
    font-weight: 400;
    font-size: 50px;
    line-height: 100%;
    color: $color-dark-blue;
    padding-bottom: 25px;
  }
  h3.page-info__title {
    font-weight: 300;
    font-size: 60px;
    line-height: 100%;
    color: $color-dark-blue;
  }
  .page-info__subtitle {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: $color-black;
  }
  .page-info__block-title {
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    text-transform: uppercase;
    color: $color-black;
    width: 100%;
    padding-bottom: 30px;
    order: 1;
  }
  .page-info__block-subtitle {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: $color-black;
    width: 50%;
    padding-right: 5%;
    order: 2;
  }
  .page-info__img {
    width: 50%;
    max-height: 400px;
    order: 2;
  }
  .page-info__left_50 {
    width: 40%;
    padding-right: 50px;
  }
  @include media-max("lg") {
    .page-info__left_50 {
      padding-right: 30px;
      &.page-info__left {
        width: 50%;
      }
    }
    .page-info__right_50 {
      &.page-info__right {
        width: 50%;
      }
    }
    h3.page-info__title {
      font-weight: 400;
      font-size: 28px;
      line-height: 100%;
    }
    .page-info__subtitle {
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      padding-bottom: 20px;
    }
    .page-info__title {
      font-weight: 400;
      font-size: 28px;
      line-height: 100%;
    }
    .page-info__block-title {
      font-weight: 400;
      font-size: 16px;
      line-height: 120%;
      order: 2;
      padding-bottom: 20px;
      padding-top: 20px;
    }
    .page-info__block-subtitle {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      width: 100%;
      padding-right: 0px;
      order: 3;
    }
    .page-info__img {
      width: 100%;
      order: 1;
    }
  }
  @include media-max("sm") {
    flex-direction: column;
    .page-info__left {
      width: 100%;
    }
    .page-info__right {
      width: 100%;
    }
    .page-info__left_50 {
      width: 100% !important;
      padding-right: 0px;
    }
    .page-info__right_50 {
      width: 100% !important;
    }
  }
}

.map {
  width: 100%;
  position: relative;
  .tooltip {
    position: absolute;
    display: none;
    background-color: $color-red;
    padding: 10px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: $color-white;
    &.tooltip_show {
      display: block;
    }
  }
  @include media-max("lg") {
    .tooltip {
      font-size: 10px;
    }
  }
  @include media-max("sm") {
    .tooltip {
      font-size: 8px;
    }
  }
}
