@import "../include/params";

.products-info {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
  padding-top: 100px;
  padding-bottom: 150px;
  width: 100%;
  .products-info_offset {
    width: 70%;
  }
  .products-info__sentence {
    font-weight: 400;
    font-size: 50px;
    line-height: 100%;
    color: $color-dark-blue;
    width: 100%;
    margin-bottom: 50px;
    margin-top: 100px;
  }
  .products-info__title {
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    text-transform: uppercase;
    color: $color-black;
    padding-bottom: 20px;
  }
  .products-info__subtitle {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: $color-black;
    padding-bottom: 20px;
    &:last-child{
      padding-bottom: 0px;
    }
  }

  .products-info__text {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: $color-black;
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0px;
    }
  }
  .products-info__text_padding {
    padding-top: 50px;
  }

  @include media-max("lg") {
    padding-bottom: 100px;
    padding-top: 70px;
    .products-info_offset {
      width: 100%;
    }
    .products-info__text_padding {
      padding-top: 70px;
    }
    .products-info__title {
      font-weight: 400;
      font-size: 16px;
      line-height: 120%;
      width: 100%;
    }
    .products-info__subtitle {
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      width: 100%;
    }
    .products-info__sentence {
      font-weight: 400;
      font-size: 28px;
      line-height: 100%;
      margin-top: 70px;
    }
  }
  @include media-max("sm") {
    .products-info__title {
      padding-bottom: 40px;
    }
  }
}
