@import "../include/params";

.products__info {
  padding-top: 150px;
  padding-bottom: 150px;
  @include media-max("lg") {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.products {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.product__column {
  width: 49%;
  .product {
    width: 100%;
  }
  @include media-max("sm") {
    width: 100%;
  }
}

.product {
  display: block;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  width: 49%;
  height: 340px;
  margin-bottom: 30px;
  &:hover {
    .product__info {
      bottom: 0;
    }
  }
  &.product__big {
    height: calc(340px * 2 + 30px);
    .product__img {
      height: 655px;
    }
  }
  .product__img {
    width: 100%;
    height: 285px;
  }
  .product__info {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: $color-dark-blue;
    width: 100%;
    height: 100%;
    padding: 20px 20px;
    bottom: calc(-100% + 80px);
    transition: bottom 0.3s linear;
    &::after {
      content: "";
      width: 35px;
      height: 35px;
      background-image: url($path-arrow-hover);
      background-size: 35px 35px;
      position: absolute;
      bottom: 0;
      right: 0;
      margin-right: 20px;
      margin-bottom: 20px;
    }
  }
  .product__title {
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    text-transform: uppercase;
    color: $color-white;
    margin-bottom: 50px;
  }

  @include media-max("lg") {
    height: 224px;
    margin-bottom: 10px;
    &.product__big {
      height: calc(224px * 2 + 10px);
      .product__img {
        height: 400px;
      }
    }
    .product__img {
      height: 180px;
    }
    .product__title {
      font-weight: 400;
      font-size: 16px;
      line-height: 120%;
    }
    .product__info {
      bottom: calc(-100% + 60px);
      padding: 20px 10px;
      &::after {
        content: "";
        width: 30px;
        height: 30px;
        background-image: url($path-arrow-hover);
        background-size: 30px 30px;
        position: absolute;
        top: 0;
        right: 0;
        margin-right: 10px;
        margin-top: 16px;
      }
    }
    &:hover {
      .product__info {
        bottom: calc(-100% + 60px);
      }
    }
  }
  @include media-max("sm") {
    width: 100%;
    height: 350px;
    margin-bottom: 20px;
    &.product__big {
      height: 350px;
      .product__img {
        height: 400px;
      }
    }
    .product__img {
      height: 300px;
    }
  }
}

.product__list {
  .product__elem {
    font-weight: 300;
    font-size: 22px;
    line-height: 100%;
    color: $color-white;
    padding-bottom: 18px;
    &:last-child {
      padding-bottom: 0px;
    }
  }
}
