@import "../include/params";

.fertilizers__table {
  width: 100%;
  margin-top: 60px;
  margin-bottom: 5px;
  .table {
    width: 100%;
    border: 1px solid $color-gray;
    .table__caption {
      font-weight: 400;
      font-size: 26px;
      line-height: 120%;
      letter-spacing: 0.01em;
      color: $color-black;
      padding: 20px 10px 20px 10px;
    }
    .table__body {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 150%;
      color: $color-black;
      padding: 20px 10px 20px 10px;
    }
    .table__row {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      border-bottom: 1px solid $color-gray;
      &:last-child {
        border: none;
      }
    }
    &.table_no-border {
      border: none;
      .table__caption {
        padding-bottom: 15px;
      }
    }
    .table__row_small {
      border-bottom: none;
      .table__body {
        padding-top: 2px;
        padding-bottom: 2px;
      }
      .table__caption {
        padding-top: 2px;
        padding-bottom: 2px;
      }
      &.table__row_padding {
        .table__caption {
          padding-bottom: 15px;
        }
        .table__body {
          padding-bottom: 15px;
        }
      }
    }
    .table__column {
      width: 65%;
      min-width: 65%;
      border-right: 1px solid $color-gray;
      display: flex;
      flex-direction: row;
      align-items: stretch;
    }
    .table__ceil {
    }
  }
  @include media-max("lg") {
    .table {
      .table__column {
        border-right: none;
      }
      .table__caption {
        font-weight: 400;
        font-size: 20px;
        line-height: 120%;
        padding: 15px;
      }
      .table__body {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        padding: 15px;
        padding-top: 0px;
        padding-bottom: 15px;
      }
      .table__column {
        width: 100%;
      }
      .table__row {
        display: flex;
        flex-direction: column;
      }
      .table_no-border {
        padding-bottom: 15px;
      }
      .table__row_small {
        .table__body {
          padding-top: 5px;
          padding-bottom: 5px;
        }
        .table__caption {
          padding-top: 5px;
          padding-bottom: 5px;
        }
        &.table__row_padding {
          .table__caption {
            padding-bottom: 0px;
          }
          .table__body {
            padding-bottom: 0px;
          }
        }
      }
    }
  }
  @include media-max("sm") {
    margin-top: 0px;
  }
}

.metallurgy__single-table {
  padding-bottom: 100px;
  .table {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: 1px solid $color-gray;

    .table__row {
      border-top: 1px solid $color-gray;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 20px 0px 20px 0px;
    }
    .table__caption {
      font-weight: 400;
      font-size: 26px;
      line-height: 120%;
      letter-spacing: 0.01em;
      color: $color-black;
      width: 30%;
      text-align: left;
    }
    .table__body {
      width: 70%;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 150%;
      color: $color-black;
    }
  }
  @include media-max("lg") {
    padding-bottom: 30px;
    .table {
      border-left: 1px solid $color-gray;
      border-right: 1px solid $color-gray;
      .table__row {
        flex-direction: column;
        padding: 15px;
      }
      .table__caption {
        margin-bottom: 10px;
        font-weight: 400;
        font-size: 20px;
        line-height: 120%;
        width: 100%;
      }
      .table__body {
        width: 100%;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
      }
    }
  }
  @include media-max("sm") {
    .table {
    }
  }
}

.metallurgy__row-table {
  .table {
    .table__row {
      display: flex;
      flex-direction: row;
      width: 100%;
      align-items: stretch;
    }
    .table__column {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      border: 1px solid $color-gray;
    }
    .table__caption {
      padding: 20px 0px;
      width: 100%;
      height: 100%;
      font-family: "Oswald";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 120%;
      color: $color-white;
      background-color: $color-dark-blue;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      border-bottom: 1px solid $color-gray;
    }
    .table__body {
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 150%;
      color: $color-black;
      text-align: center;
      width: 100%;
      height: 100%;
      min-height: 100px;
    }
  }
  @include media-max("lg") {
    .table {
      border: 1px solid $color-gray;

      .table__row {
        flex-direction: column;
      }
      .table__caption {
        background-color: unset;
        font-weight: 400;
        font-size: 20px;
        line-height: 120%;
        color: $color-dark-blue;
        border: none;
        padding: 0px;
        text-align: left;
        width: auto;
        padding-bottom: 10px;
      }
      .table__body {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        min-height: unset;
        text-align: left;
        width: auto;
      }
      .table__column {
        padding: 15px;
        justify-content: start;
        align-items: flex-start;
        border: none;
        border-bottom: 1px solid $color-gray;
        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}

.metallurgy__table {
  padding-bottom: 40px;
  .table {
    table-layout: auto;
    border-collapse: collapse;
    width: 100%;
    th,
    td {
      border: 1px solid $color-gray;
      padding-top: 20px;
      padding-bottom: 20px;
      text-align: center;
      vertical-align: center;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 150%;
      color: $color-black;
    }
    .table__head {
      background-color: $color-dark-blue;
      th,
      td {
        font-weight: 400;
        font-size: 18px;
        line-height: 120%;
        color: $color-white;
        width: auto;
      }
    }
  }
  @include media-max("lg") {
    display: none;
  }
}
