@import "params";

.button {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  background-color: $color-red;
  width: 100%;
  height: 100%;
  &:hover {
    background-color: $color-red-hover;
  }
  color: $color-white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  &::after {
    content: "";
    width: 40px;
    height: 40px;
    background-image: url($path-arrow-button);
    background-size: 40px 40px;
    margin-left: 10px;
  }
}

.button-form {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  text-transform: uppercase;
  background-color: $color-red;
  opacity: 0.2;
  width: 100%;
  height: 100%;
  &:hover {
    background-color: $color-red-hover;
  }
  &.button-form_active{
    opacity: 1;
  }
  color: $color-white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &::after {
    content: "";
    width: 25px;
    height: 25px;
    background-image: url($path-arrow-button);
    background-size: 25px 25px;
    margin-left: 10px;
  }
}
