.container{
    @include media-max("sm") {
        padding: 0px 20px 0px 20px;
    }
    @include media-min("sm") {
        padding: 0px 20px 0px 20px;
    }
    @include media-min("md") {
        padding: 0px 20px 0px 20px;
    }
    @include media-min("lg") {
        padding: 0px 40px 0px 40px;
    }
    @include media-min("xl") {
        padding: 0px 60px 0px 60px;
    }
    @include media-min("xxl") {
        padding: 0px 100px 0px 100px;
    }
}

.container-horizontal{
    @include media-max("sm") {
        padding: 70px 20px 100px 20px;
    }
    @include media-min("sm") {
        padding: 70px 20px 100px 20px;
    }
    @include media-min("md") {
        padding: 100px 20px 100px 20px;
    }
    @include media-min("lg") {
        padding: 150px 40px 150px 40px;
    }
    @include media-min("xl") {
        padding: 150px 60px 150px 60px;
    }
    @include media-min("xxl") {
        padding: 150px 100px 150px 100px;
    }
}