@import "params";

.bg-logo_nodral_mark_red {
    width: 20px; height: 20px;
    background: url($path-icons-sprites) -10px -10px;
}

.bg-menu_open {
    width: 40px; height: 30px;
    background: url($path-icons-sprites) -10px -50px;
}

.bg-menu_close {
    width: 30px; height: 30px;
    background: url($path-icons-sprites) -10px -100px;
}

.bg-arrow_button {
    width: 43px; height: 43px;
    background: url($path-icons-sprites) -10px -200px;
}

.bg-menu_black_open {
    width: 40px; height: 30px;
    background: url($path-icons-sprites) -10px -150px;
}
.bg-frame_close {
    width: 44px; height: 44px;
    background: url($path-icons-sprites) -10px -263px;
}