// media config
// $sizes: ("sm":440px, "md":500px, "lg":960px, "xl":1280px, "xxl":1920px);
$sizes: ("sm":576px, "md":768px, "lg":992px, "xl":1200px, "xxl":1400px);
// lg -max tablet size
// sm -max phone size

@mixin media-max($media) {
    @each $size,
    $resolution in $sizes {
        @if $media==$size {
            @media only screen and (max-width: ($resolution)-0.5) {
                @content;
            }
        }
    }
}

@mixin media-min($media) {
    @each $size,
    $resolution in $sizes {
        @if $media==$size {
            @media only screen and (min-width: $resolution) {
                @content;
            }
        }
    }
}

// colors
$color-dark-blue: #0C1C3A;
$color-dark-blue-transparent: rgba(12, 28, 58, 0.94);
$color-bg-frame-transparent:  rgba(12, 28, 58, 0.7);
$color-red: #D34242;
$color-red-hover: #AF4646;
$color-black: #1B1B1B;
$color-white: #F9F9F9;
$color-gray: #A9A9A9;
$color-light-gray: #EEEEEE;

// sprites path
$path-icons-sprites: "../image/icons/icons_sprites.png";
$path-arrow-button: "../image/icons/arrow-button.png";
$path-arrow-hover: "../image/icons/arrow-hover.png";
$path-arrow-bottom: "../image/icons/arrow-bottom.png";
$path-menu-white-arrow: "../image/icons/menu-white-arrow.png";
$path-menu-black-arrow: "../image/icons/menu-black-arrow.png";
$path-arrow-bottom-hover: "../image/icons/arrow-bottom-hover.png";

